
<div style="margin: auto; width: 50%; background-color: white; padding: 20px; border-radius: 15px;">
  <form >
    <h1>Register Team</h1>
    <p class="text-medium-emphasis">Register the team</p>

        <div class="form-group">
          <label for="formGroupExampleInput" style="padding: 5px;">Team Name:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your team name" required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput" style="padding: 5px;">Captain:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter captain/leader name" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput" style="padding: 5px;">Team Member:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter team member name" required>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput" style="padding: 5px;">City:</label><br>
            
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style=" width: 30%;" required>
                <option selected>Select</option>
                <option value="islamabad">Islamabad</option>
                <option value="lahore">Lahore</option>
                <option value="karachi">Karachi</option>
            </select>
            
          </div>

          <br>
   
     
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Register</button>
            &nbsp;
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
          

       

</form>



  
</div>