<div>
    <h1 class="display-1" style="text-align: center;">Create Tournament</h1>
</div>
<hr>
<br><br>
<c-row class="mb-3">
    <c-col [md]="9">
        <form cForm class="row g-3">
            <c-col [md]="5">
                <label cLabel for="firstName">Tournament Name</label>
                <input cFormControl id="firstName" type="text" [(ngModel)]="tournament.name" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [md]="5">
                <label cLabel for="autoSizingSelect">Location</label>
                <select cSelect id="autoSizingSelect">
                    <option *ngFor="let city of cities" value="{{city}}" >{{city}}</option>
                  </select>
            </c-col>
            <c-col [md]="5">
                <label cLabel for="StartDate">Start Date</label>
                <input cFormControl id="StartDate" type="date" [(ngModel)]="tournament.startDate" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [md]="5">
                <label cLabel for="EndDate">End Date</label>
                <input cFormControl id="EndDate" type="date" [(ngModel)]="tournament.endDate" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [md]="10">
                <label cLabel for="totalTeams">Total teams</label>
                <input cFormControl id="totalTeams" type="number" [(ngModel)]="tournament.teamCount" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [xs]="12">
                <!-- <a href="/#/create-matches"> -->
                <button cButton (click)="registerTournament()" type="button">Create</button>
                <!-- </a> -->
            </c-col>
        </form>
    </c-col>
    <c-col [md]="3">
        <img src="assets/img/brand/championship.png" width="250" height="250">
    </c-col>
</c-row>